---
layout: page
title: Archive
permalink: /archive.html
comments: false
---

<h3>Tags</h3>
<ul>
{% for tag in site.tags %}
  <li>
    <a href="#{{ tag | first | slugize }}">{{ tag | first }}</a>
  </li>
{% endfor %}
</ul>
<hr>

{% for tag in site.tags %}
  {% capture tag_name %}{{ tag | first }}{% endcapture %}
  <a name="{{ tag_name | slugize }}"></a>
  <h3 id="#{{ tag_name | slugize }}">§{{ tag_name }}</h3>
  {% for post in site.tags[tag_name] %}
  <article>
    <ul style="list-style-type:circle">
      <li><a href="{{ root_url }}{{ post.url }}">{{post.title}}</a></li>
    </ul>
  </article>
  {% endfor %}
{% endfor %}