body {
  margin: 0px 20px 0px 20px;
  font-size: 94%;
  line-height: 1.6;
  color: #222222;
  font-family: sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}
#disqus_thread {
  max-width: 800px;
}